.color-80001,
.color- {
  border-color: var(--color-80001) !important;
}

.color-97 {
  border-color: var(--color-97) !important;
}

.color-11155111 {
  border-color: var(--color-11155111) !important;
}

.color-1337 {
  border-color: var(--color-1337) !important;
}
